<!DOCTYPE HTML>
<html>
 <head>
 <title> Пользователи </title>
 </head>
<body>
<form action="{{ url_for('get_tasks') }}" method="get">
<p>
 Список пользователей:
 <select name=name_us>
 {% for i in range(len(users_list)) %}
 <option value={{users_list[i][0]}}>{{users_list[i][1]}}</option>
 {% endfor %}
 </select>
</p>
<p><input type=submit value="Посмотреть список задач"></p>
 </form>
<form action="{{ url_for('what') }}">
<p><input type=submit value="Добавить пользователей"></p>
</form>
</body>
</html>