<!DOCTYPE html>
<html lang="en">
 <head>
 <title> Задачи </title>
 </head>
<body>
<p>Пользователь</p>
<p>{{name_user}}</p>
<p>Добавить задачу</p>
<form action="{{ url_for('add_tasks') }}" method="post">
 <input type = number name=credit value="{{user_credit}}">
 <p>Текст задачи: <input type = text name=task_text></p>
 <p>Статус задачи: <input type = text name=task_status></p>
  <p><input type=submit value=Добавить></p>
 </form>
<p>Удалить задачу</p>
<form action="{{ url_for('get_del_tasks') }}" method="get">
 <p>ID пользователя <input type = number name=credit_card value="{{user_credit}}"></p>
  <p><input type=submit value='Удалить задачу'></p>
 </form>
</form>
<p>Изменить задачу</p>
<form action="{{ url_for('get_up_tasks') }}" method="get">
 <p>ID пользователя <input type = number name=credit_card value="{{user_credit}}"></p>
  <p><input type=submit value='Изменить задачу'></p>
 </form>
<p>
 Список задач:
    <ol name=name_task>
 {% for i in range(len(tasks_list)) %}
 <li value={{tasks_list[i][0]}}>{{tasks_list[i][1]}}<br>Статус задачи: {{tasks_list[i][2]}}<br></li>
 {% endfor %}
</ol>
</p>
</body>
</html>